<!DOCTYPE html PUBLIC "-//W3C//Dtd Xhtml 1.0 transitional//EN"
        "http://www.w3.org/tr/xhtml1/Dtd/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'login-box' %>
</head>
  <body>
    <table>
      <tbody>
        <tr>
          <td class = "menu">
            <%= create_menu(user_class())  %>
          </td>
          <td class = "data">
            <%= @content_for_layout %>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class = "foot" colspan = "2">
          </td>
        </tr>
      </tfoot>
    </table>

  </BODY>
</html>
