				<H1>Авторизация</H1>
				<% form_tag do %>
					<div id="login-box-name"> <label for="login">Имя пользователя:</label> </div>
					<div id="login-box-field"> <%= text_field_tag :login, params[:login] %> </div>
					<div id="login-box-name"> <label for="password">Пароль:</label>  </div>
					<div id="login-box-field"> <%= password_field_tag :password, params[:password] %> </div>
					<br />
					<br />
					<%= submit_tag "Вход" %> 

				<% end %>
